

	<hr/>
	<footer>
	<a href="http://localhost:3000" target="_blank">Rayner</a> copyRight@ICBU liaopr 2013
	 </footer>
</div>
</body>

<script type="text/javascript" src="./javascripts/jquery.1.9.1.js"></script>
<script type="text/javascript" src="./javascripts/bootstrap.js"></script>
</html>