<%- include header.ejs %>
<div class="hero-unit">
    <h1>Welcome to <%= title %></h1>
    <p><span>This is a center for <strong><%= name %></strong> based on Node.js.</span></p>
    <p><a href="/login" class="btn btn-primary btn-large">登录</a> <a href="/register" class="btn btn-large">立即注册</a>
    </p>
</div>

<div class="row">
	<div class="span3">
		<h2>Rayner says:</h2>
		<p>昨夜西风凋碧树 独上高楼 望尽天涯路</p>
		<p>衣带渐宽终不悔 为伊消得人憔悴</p>
		<p>众里寻他千百度 蓦然回首 那人却在灯火阑珊处</p>
	</div>
	<div class="span3" >
		<h2>Jackson says:</h2>
		<p>苹果发布USB 电源适配器回收计划，从2013 年 8 月 9 日至 2013 年 10 月 18 日，用户可以拿假冒、山寨和第三方适配器去Apple Store零售店或Apple授权服务提供商处更换（需要额外支付68元），同时用户必须送交至少一个USB电源适配器并携带你的iPhone、iPad或iPod。</p>
	</div>
	<div class="span3"> 
		<h2>Ross says:</h2>
		<p>

       JavaScript 是浏览器语言（尽管现在不完全是）。主要目的是给静态页面增加交互性。在浏览器里，它不会为你更换PHP或Ruby，也不会更改你的HTML或CSS；你可以把它们串在一起使用。另外，它没有你想的那么难学。<br/>

       你应该听过jQuery，它可能是被使用最广泛的JavaScript 库。也许你还听说过其他流行的JavaScript 框架，如Mootools,，YUI，Dojo 等。可以将它们统一看做JavaScript辅助工具集；当你使用它们的时候，你还在写JavaScript，但都是些很抽象的JavaScript。它会让你事半功倍。<br/>

      “你甚至可能听到有人说，你应该先学jQuery（或其他库）再学JavaScript。我很尊重他们但完全不同意这种说法。先把JavaScript 学好再用其他库，你会发现你会做的更好；结果就是，你会编写更好的JavaScript。”</p>
	</div>
</div>
<%- include footer.ejs %>

