<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/base.css' />
        <script type="text/javascript" src="/js/jquery.1.9.1.js"></script>
    </head>
    <body>
        <%- include common/header %>
        <%- include common/nav %>
        <%- include common/footer %>
    </body>
</html>
