<div id="nav">
    <div class="list">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">可视化案例</a></li>
            <li><a href="#">可视化研究</a></li>
            <li><a href="#">行业动态</a></li>
        </ul>
    </div>
    <div class="search">
        <input type="text" class="search-input"/>
        <span class="search-btn"></span>
    </div>
</div>