<div id="header">
    <div class="logo">
        <a href="#" class="h1">ICBU DA</a>
        <span class="h2">---在这里，让数据绽放光彩</span>    
    </div>
    <div class="infos">
        <span class="welcome">
            傍晚好! 2014年2月13日 星期四
        </span>
        <span class="time">
        </span>
    </div>
</div>