body.custom-background{
    background-color: #e2e2e2;
    background-image: url('../imgs/bg.png');
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
}
body{
    background: #f2f2f2;
    font: 12px 'Microsoft YaHei', 微软雅黑, Arial, Lucida Grande, Tahoma, sans-serif;
    color: #000;
}
#wrapper{
    width: 960px;
    height: 100%;
    margin: 10px auto;
    position: relative;
}
#header{
    margin-top: 20px;
}
#header .logo{
    width: 300px;
}
#header .logo .h1{
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: #333;
}
#header .logo .h2{
    font-size: 12px;
    color: #333;
    font-weight: bolder;
}
#header .infos{
    position: absolute;
    right:0px;
    top: -10px; 
}
#nav{
    background: #00e0d5;
    height: 36px;
}
#nav ul{
    list-style: none;
}
#nav ul li{
    height: 36px;
    border-right: 1px solid #4b83c2;
    float: left;
    font-weight: bold;
}
#nav ul li a{
    display: block;
    padding: 0 25px 0 25px;
    line-height: 36px;
    color: #f2f2f2;
    text-shadow: 0px 1px 0px #000;
    background: #00e0d5;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}
#nav .search{
    float: right;
}
#nav .search .search-input{
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 5px 5px 5px 25px;
    margin-top: 5px;
    margin-right: 10px;
}
#nav .search .search-btn{
    position: absolute;
    float: left;
    margin: -22px 0 0 8px;
    width: 13px;
    height: 13px;
    background: url(../imgs/search.gif) transparent no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}
#center{
    margin-top: 10px;
    position: relative;
}
#center .left{
    width: 700px;
    background: #fff;
    padding:5px;
}
#center .right{
    width: 230px;
    background: #fff;
    padding:5px;
    position: absolute;
    right: 0px;
    top: 0px;
}
#footer{
    color: #a9a9a9;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
    background: #f2f2f2;
    border-top: 1px solid #e8e8e8;
    margin-top: 10px;
}